#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [10]:
#a. Current date and time
import pandas as pd
today = pd.datetime.today().date()
today = pd.to_datetime(today)
today

Timestamp('2020-03-09 00:00:00')

In [13]:
#b. Current year
today.year

2020

In [17]:
#c. Month of year
today.month_name()

'March'

In [24]:
#d. Week number of the year
today.week

11

In [26]:
#e. Weekday of the week
today.day_name()

'Monday'

In [28]:
#f. Day of year
today.dayofyear

69

In [30]:
#g. Day of the month
today.day

9

In [33]:
#h. Day of week
today.dayofweek

0

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [49]:
value = input('Enter a date: ')
value = pd.to_datetime(value, format = '%b %d %Y %I:%M%p')
print(value)

Enter a date: Jan 1 2014 2:43PM
2014-01-01 14:43:00

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [52]:
from datetime import timedelta as td
val = today-td(days=5)
print(val.date())

2020-03-04

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [54]:
val = input()
val=pd.to_datetime(val,unit='s')
print(val)

1284105682
2010-09-10 08:01:22

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [98]:
import numpy as np
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])
DoB = pd.to_datetime(DoB)
DoB_New = np.where(DoB.dt.year > 2000 , DoB- pd.DateOffset(years=100), DoB)
DoB_New = pd.to_datetime (DoB_New)
pd.Series(DoB_New)

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [109]:
date1= input('Enter first date: ')
date2=input('Enter second date: ')

days = pd.to_datetime(date1)-pd.to_datetime(date2)
print(str(days.days) + ' days')

Enter first date: 1959-09-07
Enter second date: 1959-09-02
5 days

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [117]:
date_val=pd.Series("15Dec1989")
pd.to_datetime(date_val).dt.strftime('%A, %d %b %y')

0    Friday, 15 Dec 89
dtype: object